* {
    font-family: 'Bebas Neue', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

.img-fundo {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.mascara {
    height: 140%;
    width: 100%;
    background: linear-gradient(109deg, rgba(10, 12, 16, 0.99) 15%, rgba(10, 12, 16, 0.7) 50%, rgba(10, 12, 16, 0.99) 85%);
    position: fixed;
    top: 0;
    z-index: -1;
}

.pix {
    position: absolute;
    padding: 10px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: min(300px, 100vw);
    z-index: 2;
}

.codigo {
    position: absolute;
    top: 70%; /* Fica abaixo da pix */
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    z-index: 3;
    margin-top: 50px;
}

input {
    width: 300px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    text-align: center;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background: #00b32d;
    color: white;
    font-weight: bold;
    cursor: pointer;
}
button:hover {
    background: #009624;
}

h1 {
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
    color: white;
    font-weight: 900;
    text-align: center;
}